@model MvcPhoenix.Models.GHSPHSource

<div id="cloneandeditmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Clone/Edit P&amp;H Source</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("SaveClone", "GHS", new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "dialogResult",
                    OnSuccess = "CloseUpdate",
                    InsertionMode = InsertionMode.Replace
                }))
                {
                    <div class="row">
                        @Html.HiddenFor(m => m.PHSourceID)
                        <div class="col-md-8 form-group">
                            <label>P&amp;H Code</label>
                            @Html.TextBoxFor(m => m.PHNumber, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Language</label>
                            @Html.TextBoxFor(m => m.Language, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Statement</label>
                            @Html.TextAreaFor(m => m.PHStatement, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="submit" value="Save" class="btn btn-success btn-block" />
                        </div>
                        <div class="col-md-6">
                            <input type="button" value="Close" class="btn btn-danger btn-block" data-toggle="modal" data-target="#cloneandeditmodal" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function CloseUpdate() {
        RefreshDetailPH();
        $("#cloneandeditmodal").modal('hide');
        window.location.reload();
    }
</script>