@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <iframe width="100%" height="850" src="https://app.powerbi.com/view?r=eyJrIjoiNjZmMWZlMzQtNDk5Yi00MDUyLTg0NDQtNzAwMWExYzUzMDU3IiwidCI6ImQ2MjA0NGE0LWU5ZTYtNGJhOC05YTI5LWQ2NTYyYjAyZDA5OCIsImMiOjN9" frameborder="0"></iframe>
    <iframe width="100%" height="850" src="https://app.powerbi.com/view?r=eyJrIjoiMGM0NDY2MTEtOGVhZC00NmM5LTllOWQtMmIwMmQ5ZTFmOGM4IiwidCI6ImQ2MjA0NGE0LWU5ZTYtNGJhOC05YTI5LWQ2NTYyYjAyZDA5OCIsImMiOjN9" frameborder="0"></iframe>
</div>