@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.Message</h1>
    <p>We are currently hard at work on a new web-based Sample management system.<br />
</div>
<div class="col-md-6">
    <!-- start feedwind code -->
    <script type="text/javascript">document.write('\x3Cscript type="text/javascript" src="' + ('https:' == document.location.protocol ? 'https://' : 'http://') + 'feed.mikle.com/js/rssmikle.js">\x3C/script>');</script>
    <script type="text/javascript">(function () { var params = { rssmikle_url: "http://view-source:http://feeds.feedburner.com/cen_latestnews|http://www.icis.com/rss/publicrss/|http://www.americanchemistry.com/newsfeed.aspx?keywordId=102", rssmikle_frame_width: "500", rssmikle_frame_height: "500", frame_height_by_article: "0", rssmikle_target: "_blank", rssmikle_font: "Arial, Helvetica, sans-serif", rssmikle_font_size: "12", rssmikle_border: "off", responsive: "off", rssmikle_css_url: "", text_align: "left", text_align2: "justify", corner: "off", scrollbar: "on", autoscroll: "off", scrolldirection: "up", scrollstep: "3", mcspeed: "20", sort: "Rnd", rssmikle_title: "on", rssmikle_title_sentence: "Industry Updates", rssmikle_title_link: "", rssmikle_title_bgcolor: "#0066FF", rssmikle_title_color: "#FFFFFF", rssmikle_title_bgimage: "", rssmikle_item_bgcolor: "#FFFFFF", rssmikle_item_bgimage: "", rssmikle_item_title_length: "55", rssmikle_item_title_color: "#0066FF", rssmikle_item_border_bottom: "on", rssmikle_item_description: "on", item_link: "on", rssmikle_item_description_length: "150", rssmikle_item_description_color: "#666666", rssmikle_item_date: "gl1", rssmikle_timezone: "Etc/GMT", datetime_format: "%b %e, %Y %l:%M:%S %p", item_description_style: "text", item_thumbnail: "crop", item_thumbnail_selection: "auto", article_num: "15", rssmikle_item_podcast: "off", keyword_inc: "", keyword_exc: "" }; feedwind_show_widget_iframe(params); })();</script><div style="font-size:10px; text-align:center; width:500px;"><a href="http://feed.mikle.com/" target="_blank" style="color:#CCCCCC;">RSS Feed Widget</a><!--Please display the above link in your web page according to Terms of Service.--></div><!-- end feedwind code -->
</div>

<div class="col-md-5 pull-right panel panel-primary" style="">
    <div>
        <h3>System Messages for @DateTime.Now.ToShortDateString()</h3>
        <ol>
            <li>
                Customer Service Notices<br />
                Please welcome ABC Chemical company as our newest customer.<br />
                They specialize in formulations for synthetic varieties of Tequila!
            </li>
            <li>
                Inventory Notices<br />
                Starting new week we will begin the project of renaming all of the storage locations at CMC Connecticut.<br />
                This new naming convention will include labels with bar codes for better inventory control.
            </li>
            <li>
                Production and Receiving Notices<br />
                Congratulations on our Connecticut production department for reaching their 1 million mark in samples produced !
            </li>
            <li>
                <h5>Other Notices</h5>
                <ul>
                    <li>Notice 1</li>
                    <li>Notice 2</li>
                    <li>Notice 2</li>
                    <li>Notice 3</li>
                    <li>Notice 4</li>
                </ul>
            </li>
        </ol>
    </div>
</div>
<div class="clearfix"></div>


