@{
    ViewBag.Title = "Invoice Management";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/images/logos/oltlogo.jpg" style="width: auto; height: 73px; float: right" alt="cmc logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label>Search Invoice #</label>
            <div class="input-group">
                <input class="form-control" />
                <span class="input-group-btn"><input type="submit" class="btn btn-success" value="Search" /></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-sticky-note fa-fw"></i> Generate Invoice</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Client</label>
                            <input class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label>Division/Business Unit</label>
                            <input class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label>Month/Year</label>
                            <input type="month" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label class="invisible">Generate</label>
                            <input type="button" class="btn btn-success btn-block form-control" value="Generate" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-body">
            <div id="dvGridPlaceHolder" class="row">
                <div class="col-md-12 text-center">
                    <label class="lead">Review Invoices</label>
                </div>
                <div class="table-responsive col-md-12">
                    <table id="myTable" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Invoice #</th>
                                <th>Client</th>
                                <th>Billing Group</th>
                                <th>Period</th>
                                <th>Status</th>
                                <th><i class="fa fa-fw fa-pencil-square-o"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>12345</td>
                                <td>ClientName</td>
                                <td>Division - BusinessUnit</td>
                                <td>June, 2016</td>
                                <td>Pending Review</td>
                                <td>@Html.ActionLink("Edit", "Edit")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-body">
            <div id="dvGridPlaceHolder" class="row">
                <div class="col-md-12 text-center">
                    <label class="lead">Verified Invoices</label>
                </div>
                <div class="table-responsive col-md-12">
                    <table id="myTable" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Status</th>
                                <th>Client</th>
                                <th>Rec'd</th>
                                <th>Expiry</th>
                                <th>WH</th>
                                <th>Carrier</th>
                                <th>Master Code</th>
                                <th>Name</th>
                                <th>Lot</th>
                                <th>UM</th>
                                <th>WT</th>
                                <th><i class="fa fa-fw fa-pencil-square-o"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>12345</td>
                                <td>12345</td>
                                <td>12345</td>
                                <td>12345</td>
                                <td>12345</td>
                                <td>12345</td>
                                <td>12345</td>
                                <td>12345</td>
                                <td>12345</td>
                                <td>12345</td>
                                <td>12345</td>
                                <td>12345</td>
                                <td>@Html.ActionLink("Edit", "Edit")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>