@{
    ViewBag.Title = "Invoice";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/images/logos/oltlogo.jpg" style="width: auto; height: 73px; float: right" alt="cmc logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">Generate Invoice</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>Invoice #</label>
                            <div class="input-group">
                                <input class="form-control" />
                                <span class="input-group-btn"><input type="submit" class="btn btn-success" value="Search" /></span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Client</label>
                            <input class="form-control" />
                        </div>
                        <div class="form-group col-md-3">
                            <label>Division/Business Unit</label>
                            <input class="form-control" />
                        </div>
                        <div class="form-group col-md-2">
                            <label>Month/Year</label>
                            <input type="month" class="form-control" />
                        </div>
                        <div class="form-group col-md-1">
                            <label class="invisible">Generate</label>
                            <input type="button" class="btn btn-success btn-block form-control" value="Generate" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">TERMS</div>
                <div class="panel-body">
                    <p><b>Invoice Number:</b> 1000556</p>
                    <p><b>Invoice Date:</b> 12/12/2015</p>
                    <p><b>PO Number:</b> 14562654</p>
                    <p><b>Net 60 Days</b></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">BILL TO</div>
                <div class="panel-body">
                    <p>Ashland, Inc</p>
                    <p>Suite 400</p>
                    <p>Roseland, New Jersey 07068</p>
                    <p>Attn: M. Feeney - Manager, Sales Service</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">REMIT TO</div>
                <div class="panel-body">
                    <p>Chemical Marketing Concepts, LLC</p>
                    <p>c/o Odyssey Logistics &amp; Technology Corp</p>
                    <p>39 Old Ridgebury Road, N-1</p>
                    <p>Danbury, CT 06810</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive col-md-6">
                            <h3>Master Invoice</h3>
                            <table class="table table-hover table-striped">
                                <tr>
                                    <th>Number of Samples</th>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th>Totals Cost of Processing Samples</th>
                                    <td>0.00</td>
                                </tr>
                                <tr>
                                    <th>Freight</th>
                                    <td>0.00</td>
                                </tr>
                                <tr>
                                    <th>Freight Harzardous Surcharge</th>
                                    <td>0.00</td>
                                </tr>

                                <tr>
                                    <th>Administrative Charges</th>
                                    <td>0.00</td>
                                </tr>

                                <tr>
                                    <th>Total Due</th>
                                    <th>0.00</th>
                                </tr>
                            </table>
                        </div>

                        <div class="table-responsive col-md-6">
                            <h3>Total Shipping Performance</h3>
                            <table class="table table-hover table-striped">
                                <tr>
                                    <th>Same Day</th>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th>Next Day</th>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th>Second Day</th>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th>Other</th>
                                    <td>0</td>
                                </tr>
                            </table>
                            <div class="pull-right">
                                <button class="btn btn-warning"><i class="fa fa-cloud-download fa-fw"></i> Download Invoice</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive col-md-12">
                            <h3>Billing Worksheet</h3>
                            <table class="table table-hover table-striped">
                                <tr>
                                    <th>Charge Item</th>
                                    <th>Quantity</th>
                                    <th>Rate</th>
                                    <th>Total</th>
                                </tr>
                                <tr>
                                    <td>Manual Order Entry</td>
                                    <td>0</td>
                                    <td>5.17</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Follow Up Orders</td>
                                    <td>0</td>
                                    <td>5.17</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Re-Label Labor Fee</td>
                                    <td>0</td>
                                    <td>5.17</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Change in Product Set-up</td>
                                    <td>0</td>
                                    <td>25.87</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Credit Card Order Proecessing Fee</td>
                                    <td>0</td>
                                    <td>25.87</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Credit Card Credit</td>
                                    <td></td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Global Processing Fee</td>
                                    <td></td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Misc Credits</td>
                                    <td>0</td>
                                    <td>5.17</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Same Day Rush Shipment</td>
                                    <td>0</td>
                                    <td>10.35</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Empty Drum Disposal</td>
                                    <td></td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Empty Pails</td>
                                    <td>0</td>
                                    <td>20</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Empty Pails Freight</td>
                                    <td></td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Inactive Stock Storage Surcharge</td>
                                    <td>0</td>
                                    <td>51.75</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Inactive Stock Storage Surcharge</td>
                                    <td>0</td>
                                    <td>51.75</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <th>Grand Total</th>
                                    <th>0</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>