#Exclude Files and Folders

*.suo
*.user
*.aps
*.bak
*.cache
*.log

packages*/*
MvcPhoenixPC.sln
**/[Bb]in*/*
**/[Dd]ebug*/*
**/[Rr]elease*/*
**/Logs*/*
**/Migrations*/*
**/obj*/*
MvcPhoenix/Properties*/*
MvcPhoenix/App_Start/IdentityConfig.cs

#ignore thumbnails created by windows
Thumbs.db