#Exclude Files and Folders

*.suo
*.user
*.aps
*.bak
*.cache
*.log

packages*/*
MvcPhoenixPC.sln
MvcPhoenix/[Bb]in*/*
**/[Dd]ebug*/*
**/[Rr]elease*/*
MvcPhoenix/Logs*/*
MvcPhoenix/Migrations/*/*
MvcPhoenix/obj*/*
MvcPhoenix/Properties*/*
MvcPhoenix/App_Start/IdentityConfig.cs

#ignore thumbnails created by windows
Thumbs.db