#Exclude Files and Folders

*.suo
packages/
MvcPhoenixPC.sln
MvcPhoenix/bin/
bin/
MvcPhoenix/Logs/
MvcPhoenix/Migrations/
MvcPhoenix/obj/*
obj/
MvcPhoenix/Properties/
MvcPhoenix/App_Start/IdentityConfig.cs