@model MvcPhoenix.Models.Inventory
@using MvcPhoenix.Models
@{}

<div class="row">
    <div class="col-md-12 text-center">
        <h3 class="modal-title">Request Packout Work Order</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <label>Lot Number</label>
        <select class="form-control">
            <option>Lot1</option>
            <option>Lot2</option>
            <option>Lot3</option>
        </select>
    </div>
    <div class="col-md-6 form-group">
        <label>Quantity</label>
        <input type="text" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <input class="btn btn-success btn-block" type="button" value="Confirm" />
    </div>
    <div class="col-md-6 form-group">
        <input class="btn btn-danger btn-block" data-dismiss="modal" type="button" value="Close" />
    </div>
</div>