@model MvcPhoenix.Models.Inventory
@using MvcPhoenix.Models
@{}

<div class="row" style="padding-bottom:20px;">
    <div class="col-md-3">
        <input type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#editshelfstockmod" value="Adjust Shelf Stock" />
    </div>

    <div class="pull-right col-md-3">
        <input type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#reversepackoutmod" value="Reverse Packout" />
    </div>
    <div class="clearfix"></div>
</div>

<div id="editshelfstockmod" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                @Html.Partial("~/Views/Inventory/_ShelfStockModal.cshtml")
            </div>
        </div>
    </div>
</div>

<div id="reversepackoutmod" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                @Html.Partial("~/Views/Inventory/_ReversePackoutModal.cshtml")
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tr>
            <th>Lot Number</th>
            <th>Quantity</th>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Size/UM</th>
            <th>Unit Weight</th>
            <th>Status</th>
            <th>QC Date</th>
            <th>Expdt</th>
            <th>Cease Ship Date</th>
            <th>Location</th>
            <th>Bulk Container Note</th>
            <th>CMC Location</th>
            <th>Waste Accum Start Date</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>