@model MvcPhoenix.Models.Inventory
@using MvcPhoenix.Models
@{}

<div class="row">
    <div class="col-md-12 text-center">
        <h3 class="modal-title">Edit Shelf Stock Details</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <label>Lot Number</label>
        <input class="form-control" />
    </div>
    <div class="col-md-6 form-group">
        <label>Product Code</label>
        <input class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group">
        <label>Product Name</label>
        <input class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-md-3 form-group">
        <label>Quantity</label>
        <input class="form-control" />
    </div>
    <div class="col-md-3 form-group">
        <label>Size/UM</label>
        <input class="form-control" />
    </div>
    <div class="col-md-3 form-group">
        <label>Unit Weight</label>
        <input class="form-control" />
    </div>
    <div class="col-md-3 form-group">
        <label>Status</label>
        <input class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <label>QC Date</label>
        <input type="date" class="form-control" />
    </div>
    <div class="col-md-6 form-group">
        <label>Expdt</label>
        <input class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <label>Cease Ship Date</label>
        <input type="date" class="form-control" />
    </div>
    <div class="col-md-6 form-group">
        <label>Location</label>
        <input class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <label>CMC Location</label>
        <input class="form-control" />
    </div>
    <div class="col-md-6 form-group">
        <label>Waste Accum Start Date</label>
        <input class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <input class="btn btn-success btn-block" type="button" value="Save" />
    </div>
    <div class="col-md-6 form-group">
        <input class="btn btn-danger btn-block" data-dismiss="modal" type="button" value="Close" />
    </div>
</div>
