@model MvcPhoenix.Models.Inventory
@using MvcPhoenix.Models
@{}

<div class="row">
    <div class="col-md-12 text-center">
        <h3 class="modal-title">Add Log Note</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <label>Date</label>
        <input class="form-control" value="8/13/2013" />
    </div>
    <div class="col-md-6 form-group">
        <label>Lot Number</label>
        <input class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group">
        <label>Subject</label>
        <input class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group">
        <label>Note</label>
        <textarea rows="3" class="form-control"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <input class="btn btn-success btn-block" type="button" value="Save" />
    </div>
    <div class="col-md-6 form-group">
        <input class="btn btn-danger btn-block" data-dismiss="modal" type="button" value="Close" />
    </div>
</div>