@model MvcPhoenix.Models.Inventory
@using MvcPhoenix.Models
@{}

<div class="row">
    <div class="col-md-12 text-center">
        <h3 class="modal-title">Convert Shelf Stock To Bulk Stock</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group">
        <label>Enter Quantity To Be Converted For: 00033062</label>
        <input class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group">
        <input type="button" class="btn btn-success btn-block" value="Convert Selected Shelf Stock Item" />
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <input class="btn btn-success btn-block" type="button" value="Save" />
    </div>
    <div class="col-md-6 form-group">
        <input class="btn btn-danger btn-block" data-dismiss="modal" type="button" value="Close" />
    </div>
</div>