@model MvcPhoenix.Models.ApplicationRoleViewModel
@{
    ViewBag.Title = "New Role";
    Layout = "";
}

<div class="form-group">
@using (Html.BeginForm("Create", "ApplicationRoles", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <label>Enter New Role Name</label>
    <div class="input-group">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Name)
        <div class="input-group-btn">
            <input type="submit" value="+ Add Role" class="btn btn-primary" title="Add New Role"/>
        </div>
    </div>
}
</div>