@{
    ViewBag.Title = "Receive Pre-Packed Stock";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/images/logos/oltlogo.jpg" style="width: auto; height: 73px; float: right" alt="cmc logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-12 row">
            <i class="fa fa-arrow-circle-left"></i> @Html.ActionLink("Back to Receiving Main", "Index")
        </div>
    </div>
    <!-- ./Page Heading -->

    @using (Html.BeginForm("EnterPrePack", "Receiving"))
    {
        <div class="row">
            <div class="col-md-6 form-group">
                <div id="dvPlaceholderClientID">
                    @Html.DropDownList("ClientID", ApplicationService.ddlClientIDs(), new { onchange = "OnChangeClientID()", @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                <div id="dvPlaceholderProductCode">
                    <select name='productdetailid' id='productdetailid' onchange="OnChangeProductCode()" class='form-control'>
                        @* Placeholder for options values *@
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <div id="dvPlaceholderContinue" class="hidden">
                    <input type="submit" value="Continue" class="btn btn-primary form-control" />
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    }
</div>

<script type="text/javascript">
    function OnChangeClientID() {
        $("#dvPlaceholderContinue").addClass("hidden");
        // call action that returns DD of ProductCodes
        var url = '@Url.Action("BuildProductCodeDropDown", "Receiving")';
        var data = $('#ClientID').val()
        $("#productdetailid").load(url, { clientid: data });
    }

    function OnChangeProductCode() {
        $("#dvPlaceholderContinue").removeClass("hidden");

    }
</script>