/*Styles for _LayoutPrint.cshtml template*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: Segoe, Arial, Helvetica, sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    image-resolution: 203dpi;
    text-rendering: optimizeLegibility !important;
    text-rendering: geometricPrecision !important;
}

label {
    font-weight: bold;
    padding-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    page-break-inside: avoid;
}

tr {
    padding-bottom: 5px;
    vertical-align: top !important;
}

th, td {
    padding: 5px;
}

h3 {
    padding: 5px;
    margin: 0;
}

p {
    padding: 2px;
    margin: 2px;
}

.form-group {
    page-break-inside: avoid;
}

.form-control {
    border-width: 0;
    border-color: transparent;
}

.pagebreak {
    page-break-after: always;
}

footer {
    page-break-after: always;
}

.noprint, #noprint, a, div.alert, header, .group-media, .btn, .footer, form, #comments, .nav, ul.links.list-inline, ul.action-links {
    display: none !important;
}