@using ReportViewerForMvc;

@{
    ViewBag.Title = "SGRevDate";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h2>Sample Guide Revision Date</h2>
        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { scrolling = "no" })
    </div>
</div>