@model MvcPhoenix.Models.ClientDetailViewModel
@using MvcPhoenix.Models
@{}

<div class="row">
    <div class="col-md-12 form-group">
        <label>Client</label>
        <input class="form-control" readonly value="Elementis">
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <label>Name</label>
        <input class="form-control">
    </div>
    <div class="col-md-6 form-group">
        <label>Email</label>
        <input class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <label>Account</label>
        <input class="form-control">
    </div>
    <div class="col-md-6 form-group">
        <label>Type</label>
        <select class="form-control">
            <option>Distributor</option>
            <option>Requestor</option>
            <option>SalesRep</option>
        </select>
    </div>
</div>
<div><input type="button"  class="btn btn-success" value="Save" /></div>