@model MvcPhoenix.Models.OrderMasterFull

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Notification</title>
</head>
<body>
    <div>
        <h2>OrderID : @Model.orderid </h2>
        <h2>When Complete, this will display a Notification Page</h2>
        <h3><a href='Edit/@Session["OrderID"]'>Return to Order Edit</a> </h3>
    </div>
</body>
</html>