@model List<MvcPhoenix.Models.EndUse>
@using MvcPhoenix.Extensions;

@{
    ViewBag.Title = "End Uses";
    Layout = null;
}

<div id="endUseList">
    <ul class="list-unstyled list-3-col">
        @foreach (var item in Model)
        {
            <li>
                @Ajax.ActionLink(" ", "DeleteEndUse", new { id = item.EndUseID, clientid = @ViewBag.ClientKey }, new AjaxOptions
                                       {
                                           Confirm = "Are you sure you want to delete end use phrase?",
                                           HttpMethod = "POST",
                                           UpdateTargetId = "endUseList",
                                           OnSuccess = "$.alert('End Use Deleted')",
                                           InsertionMode = InsertionMode.Replace
                                       }, new { @class = "fa fa-fw fa-times-circle", @style = "color:red", @title = "Delete End Use" })
                @item.EndUseString
            </li>
        }
    </ul>
</div>