
@using MvcPhoenix.Models

<div class="row">
    <div class="col-md-4 form-group">
        <label>Size</label>
        <input class="form-control">
    </div>
    <div class="col-md-4 form-group">
        <label>Part Number</label>
        <input class="form-control">
    </div>
    <div class="col-md-4 form-group">
        <label>Mnemonic</label>
        <input class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label>Business Area</label>
        <input class="form-control">
    </div>
    <div class="col-md-4 form-group">
        <label>Warehouse</label>
        <input class="form-control">
    </div>
    <div class="col-md-4 form-group">
        <label>Bin</label>
        <input class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label>Min Qty</label>
        <input class="form-control">
    </div>
    <div class="col-md-4 form-group">
        <label>Max Qty</label>
        <input class="form-control">
    </div>
    <div class="col-md-4 form-group">
        <label>Re-Order Qty</label>
        <input class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <label>Ground Hazard</label>
        <input class="form-control">
    </div>
    <div class="col-md-6 form-group">
        <label>Air Hazard</label>
        <input class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group">
        <label>Notes</label>
        <textarea rows="4" class="form-control"></textarea>
    </div>
</div>

<div class="row">
    <div class="col-md-6 form-group">
        <input class="btn btn-success btn-block" type="button" value="Save" />
    </div>
    <div class="col-md-6 form-group">
        <input class="btn btn-danger btn-block" type="button" data-dismiss="modal" value="Close" />
    </div>
</div>