@model MvcPhoenix.Models.ProductViewModel
@using MvcPhoenix.Models
@{}

<div class="row">
    <div class="col-md-6 form-group">
        <label>Waste Code</label>
        <input class="form-control">
    </div>
    <div class="col-md-6 form-group">
        <label>Product Code</label>
        <input class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <label>Client</label>
        <input class="form-control" disabled="disabled">
    </div>
    <div class="col-md-6 form-group">
        <label>Division</label>
        <input class="form-control" disabled="disabled">
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <input class="btn btn-success btn-block" type="button" value="Save" />
    </div>
    <div class="col-md-6 form-group">
        <input class="btn btn-danger btn-block" type="button" data-dismiss="modal" value="Close" />
    </div>
</div>
