@{
    ViewBag.Title = "Product Profiles";
}

<div class="container-fluid">


    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/images/logos/oltlogo.jpg" style="width: auto; height: 73px; float: right" alt="acme logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
            </h1>
        </div>
    </div>
    <!-- /.Page Heading -->

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-suitcase fa-fw"></i> Create</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-success">
                        <label>Create Original Product Profile</label>
                        <p>This will create a product with a mastercode type attribute</p><br />
                        <form>
                            <div class="input-group">
                                <select class="form-control">
                                    <option>Select Client</option>
                                    <option>Akzo Nobel</option>
                                    <option>Clariant</option>
                                    <option>DSM</option>
                                    <option>Elementis</option>
                                    <option>Evonik</option>
                                    <option>Grace</option>
                                    <option>Lonza</option>
                                    <option>OMG</option>
                                    <option>Stepan</option>
                                    <option>Thor</option>
                                    <option>Wacker</option>
                                </select>
                                <span class="input-group-btn"><input type="submit" class="btn btn-success" value="Create Original Product" /></span>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="alert alert-warning">
                        <label>Create Equivalent Product Profile</label>
                        <p></p>
                        <form>
                            <div class="form-group">
                                <select class="form-control">
                                    <option>Select Client</option>
                                    <option>Akzo Nobel</option>
                                    <option>Clariant</option>
                                    <option>DSM</option>
                                    <option>Elementis</option>
                                    <option>Evonik</option>
                                    <option>Grace</option>
                                    <option>Lonza</option>
                                    <option>OMG</option>
                                    <option>Stepan</option>
                                    <option>Thor</option>
                                    <option>Wacker</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <select class="form-control">
                                    <option>-- Select Master Code --</option>
                                    <option>12345A - Product Name</option>
                                    <option>12345B - Product Name</option>
                                    <option>12345C - Product Name</option>
                                    <option>12345D - Product Name</option>
                                    <option>12345E - Product Name</option>
                                </select>
                                <span class="input-group-btn"><input type="submit" class="btn btn-success" value="Create Equivalent Product" /></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-suitcase fa-fw"></i> Edit</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <select class="form-control">
                                <option>-- Select Client --</option>
                                <option>Akzo Nobel</option>
                                <option>Clariant</option>
                                <option>DSM</option>
                                <option>Elementis</option>
                                <option>Evonik</option>
                                <option>Grace</option>
                                <option>Lonza</option>
                                <option>OMG</option>
                                <option>Stepan</option>
                                <option>Thor</option>
                                <option>Wacker</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <select class="form-control">
                                <option>-- Select Product Code --</option>
                                <option>12345A - Product Name</option>
                                <option>12345B - Product Name</option>
                                <option>12345C - Product Name</option>
                                <option>12345D - Product Name</option>
                                <option>12345E - Product Name</option>
                            </select>
                            <span class="input-group-btn"><input type="submit" class="btn btn-success" value="Edit Product Profile" /></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-suitcase fa-fw"></i> Review</h3>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>

