@{
    // Landing page for Product Profile
    // 10/19/2015 changes per discussion II create 3 forms
}
<h4>Product Profile - Search/Edit/New <small>(pc beta)</small></h4>

<!-- Edit -->
@using (Html.BeginForm("SetUpProductProfileEdit", "Products", FormMethod.Post))
{
    @Html.DropDownList("clientid1", fnClientIDs(), new
           {
               onchange = "BuildProductCodesDropDown('Edit')",
               @class = "form-control",
               @style = "margin-bottom:5px;"
           })

    <div id="dvProductMasterIDs1">
        <select name="productdetailid1" id='productdetailid1' class='form-control'>
            <option value="0"></option>
        </select>
    </div>
    <input type="submit" id="btnEdit" value="Edit Selected Product Code" class=" form-control btn btn-primary btn-xs" style="margin-top:5px;" />
}
<hr />

<!-- New -->
@using (Html.BeginForm("SetUpProductProfileNew", "Products", FormMethod.Post))
{
    @Html.DropDownList("clientid2", fnClientIDs(), new
           {
               @class = "form-control",
               @style = "margin-bottom:5px;"
           })
    <input type="submit" id="btnNew" value="New Product and/or Master Code" class="form-control btn btn-primary btn-xs" style="margin-top:5px;" />
}
<hr />

<!-- Equiv -->
@using (Html.BeginForm("SetUpProductProfileEquiv", "Products", FormMethod.Post))
{
    @Html.DropDownList("clientid3", fnClientIDs(), new
           {
               onchange = "BuildProductCodesDropDown('Equiv')",
               @class = "form-control",
               @style = "margin-bottom:5px;"
           })
    <div id="dvProductMasterIDs3">
        <select name="productdetailid3" id='productdetailid3' class='form-control'>
            <option value="0"></option>
        </select>
    </div>

    <input type="submit" id="btnEquiv" value="New Equivalent from Product Code" class="form-control btn btn-primary btn-xs" style="margin-top:5px;" />
}

<div id="dvspinner" style="display:none;">
    (for later use with search) Searching For Profiles ...
</div>
<div id="dvGridPlaceHolder" style="margin-top:8px;">
</div>

<!-- Local javascript -->
<script type="text/javascript">

    function BuildProductCodesDropDown(vParam) {
        //alert(vParam);
        var myurl = '@Url.Action("ProductCodesDropDown", "Products")';

        if (vParam == "Edit") {
            $.get(myurl, { id: $('#clientid1').val(), divid: "productdetailid1" }, function (fromserver) { $('#dvProductMasterIDs1').html(fromserver); });
        }
        if (vParam == "Equiv") {
            $.get(myurl, { id: $('#clientid3').val(), divid: "productdetailid3" }, function (fromserver) { $('#dvProductMasterIDs3').html(fromserver); });
        }

    }

</script>

<!-- Local Razor -->
@functions
{
    private static List<SelectListItem> fnClientIDs()
    {
        using (var db = new MvcPhoenix.EF.CMCSQL03Entities())
        {
            List<SelectListItem> mylist = new List<SelectListItem>();
            mylist = (from t in db.tblClient
                      orderby t.ClientName
                      select
                        new SelectListItem { Value = t.ClientID.ToString(), Text = t.ClientName }).ToList();
            mylist.Insert(0, new SelectListItem { Value = "0", Text = "Select Client" });
            return mylist;
        }

    }

}

