<html>
<head>
    <title>Phoenix/CMC SiMPLE - @ViewBag.Title</title>
    <link href="~/Content/print.css" media="all" rel="stylesheet" type="text/css"/>
</head>

<body>
    @RenderBody()

    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>