@*
    Displays if WCPP is not detected on a user's PC.
    WCPP - Web Client Print Plugin.
    Abstracted to reduce code noise on individual pages.
*@

<div id="msgInstallWCPP" style="display:none;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-warning">
                <div class="panel-body">
                    Hi there! You need a plugin to print labels automatically to defined printers:
                    <a class="btn btn-xs btn-success" href="http://www.neodynamic.com/downloads/wcpp/wcpp-2.0.16.1000-win.exe" target="_blank">
                        <i class="fa fa-fw fa-download"></i> Download &amp; Install Plugin
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
