@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
    Layout = "~/Views/Shared/_LayoutNaked.cshtml";
}

<hgroup>
    <h1 class="text-danger">Account Locked</h1>
    <h2 class="text-danger">Try again in a few minutes, or contact support.</h2>
</hgroup>
