@{
    ViewBag.Title = "Email Confirmed";
    Layout = "~/Views/Shared/_LayoutNaked.cshtml";
}

<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <div class="row">
            <h2>@ViewBag.Title.</h2>
            <hr />
        </div>

        <div class="row">
            <p>
                Redirecting to login screen...
            </p>
        </div>
    </div>
</div>
<script>
    setTimeout(function(){
       window.location = '/Account/Login';
    }, 3000);
</script>
